/* primera seccion */

section {
    #img1 {
      height: 800px;
      width: 1330px;
    }
  
    #img {
      margin: 0;
    }
  
    .imagen {
      margin: 0;
      height: 800px;
    }
  
    .carousel-inner {
      height: 750px;
    }
  
    .foto1 {
      height: 750px;
      width: 100%;
    }
  }
  