// parametros o reseteos necesarios para la pagina

*{
    border: 0;
    padding: 0;
}

/* reset en uno de los parametros internos de bootstrab 5 */
ol, ul {
    padding-left: 0 ; 
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

// mixins 
@mixin titulos {
    text-align: center;
    font-family: Old Standard TT;
    font-size: 30px;
  }

// variables

  $redesazul:#019ad2;
  $redesrojo:#eb1414;
  $redesnaranja:orange;
  $redesverde: rgb(26, 241, 26);
  $redescafe: brown; 
