/* estilos de la pagina coleccion html */

/* estilos de la primera seccion */

section {
    .formCategorias {
      width: 1000px;
      height: 70px;
      max-width: 90%;
      margin: 50px auto 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      form {
        margin: 20px 0 0 0;
      }
    }
  
    .selectColeccion {
      display: flex;
      justify-content: center;
      width: 300px;
      height: 30px;
    }
  
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }

    ul, dl {
      margin-top: 0;
      margin-bottom: 0;
    }
    
    .listadoNumero12:hover, .listadoNumero24:hover, .listado:hover {
      color: orange;
    }
    
    .formCategorias {
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
      }
    
      li {
        margin: 5px;
      }
    
      border-top: 1px black solid;
      border-bottom: 1px black solid;
    }

    @media (max-width: 580px) {
      .formCategorias ul {
        display: none;
      }
    }

    @media (min-width: 330px) and (max-width: 580px) {
      .selectColeccion {
        width: 500px;
        height: 30px;
      }
    }
  }
  
