/* estilos de la pagina nosotros html */

/* estilos de la primera seccion */
section {
  /* Estilos generales */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos compartidos para .nosotros y .nosotros2 */
.nosotros,
.nosotros2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Estilos para .nosotros */
.nosotros {
  justify-content: space-evenly;
}

/* Estilos para .nosotros2 */
.nosotros2 {
  flex-direction: column;
}

/* Estilos compartidos para .contenidoNosotros y .contenidoHistoria */
.contenidoNosotros,
.contenidoHistoria {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Estilos para imágenes */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

/* Estilos para .gridnosotros */
.gridnosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 100px;
}

/* Estilos para títulos */
.h2nosotros,
.h2Contacto {
  margin: 40px auto;
  font-family: "Old Standard TT", serif;
  font-size: 30px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .gridnosotros {
      grid-template-columns: 1fr;
      margin-bottom: 20px;
  }

.contenidoNosotros, .contenidoHistoria, .nosotros {
    flex-direction: column;
    text-align: center;
  }
}
